# Byte-compiled / optimized / DLL files
__pycache__/

# Miscellaneous Files
nohup.out
archive/
localdata/

# Mac specific DS Store
.DS_Store

# VSCode Temp Files
.vscode/

# Credentials
secret.py

# Generated Log Files
*.log
*.log.*

# Customized Images
resources/images/Gameday-*.jpg
resources/images/GamedayFinal-*.jpg

# VirtualEnv Files
bin/
lib/
lib64
pyvenv.cfg
share/
env/
