# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

# Miscellaneous Files
nohup.out
archive/
localdata/

# Mac specific DS Store
.DS_Store

# IDE Temp Files
.vscode/
.idea/

# Credentials
secret.py

# Generated Log Files
*.log
*.log.*

# Customized Images
resources/images/Gameday-*.jpg
resources/images/GamedayFinal-*.jpg
resources/images/Gameday-*.png
resources/images/GamedayFinal-*.png
resources/images/RinkShotmap-*.png
resources/images/GamedayAdvStats-*.png
resources/images/Rink-Shotmap-Blank-Backup.png
resources/images/Rink-Shotmap-Generated.png

# VirtualEnv Files
bin/
lib/
lib64
pyvenv.cfg
share/
env/
.project
