[MESSAGES CONTROL]
# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).

# These things we disable don't break code quality so we just ignore them
disable=invalid-name, broad-except, no-else-return, redefined-outer-name, line-too-long

[TYPECHECK]
ignored-classes=responses,_Config

[FORMAT]
max-line-length=120