tweepy==3.7.0
linode_api==4.1.6b0
pandas==0.22.0
fake_useragent==0.1.11
requests==2.22.0
discord.py==0.16.12
matplotlib==3.0.0
seaborn==0.9.0
pytz==2018.3
Pillow==6.0.0
beautifulsoup4==4.7.1
python_dateutil==2.8.0
discord==1.0.1
linode==0.4
pytest==4.6.3
responses==0.10.6
PyYAML==5.1.1
