pandas==0.25.3
numpy==1.15.4
seaborn==0.9.0
fake_useragent==0.1.11
pytest==5.1.2
requests==2.22.0
tweepy==3.7.0
linode_api==4.1.6b0
matplotlib==3.0.0
pytz==2018.3
Pillow==6.2.1
beautifulsoup4==4.8.1
python_dateutil==2.8.0
linode==0.4
responses==0.10.6
PyYAML==5.1.2
lxml==4.4.2
youtube-search==0.1.3
