aiohttp==1.0.5
async-timeout==3.0.1
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
discord.py==0.16.12
fake-useragent==0.1.11
future==0.17.1
idna==2.6
kiwisolver==1.0.1
linode==0.4
linode-api==4.1.6b0
lxml==4.1.1
matplotlib==3.0.0
multidict==4.5.0
numpy==1.15.4
oauthlib==2.1.0
pandas==0.22.0
Pillow==5.3.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.3
requests==2.20.1
requests-oauthlib==1.0.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
websockets==3.4
lxml==4.1.1
